body{
    box-sizing: border-box;
    background: linear-gradient(
    150deg,
    var(--color-for-body-one) 30%, 
    var(--color-for-body-two ) ,
    var(--color-for-body-one ) ,
    var(--color-for-body-two ) ,
    var(--color-for-body-one ) 80%
    );
    height: 540px; 
     width: 100%;
     overflow: hidden;
}

/* colors */
    :root{
        --color-for-body-one:rgb(255, 131, 152);
        --color-for-body-two:rgb(68, 183, 237);
        --color-font-title:rgb(159, 22, 138);
        --color-image-hover:rgba(254, 0, 233, 0.76);
        --color-image-border:rgba(231, 93, 231, 0.852);
    }

/* wed-site */

.content-container{
    margin: 20px auto;
}

/* web title */

h1{
    text-align: center;
    text-indent: -300px;
    font-family: Fantasy,OCR A Std, monospace	;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 26px;
    color: var(--color-font-title);
    text-shadow: 1.5px 1.5px 1px white;
}

.font-left{
    font-size: 40px;
}

h2{
    display: none; 
}

/* images */

.choices{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
}

img{
    border: 6px solid var(--color-image-border);
    border-radius: 4px;
    object-fit: cover;
    width: 300px;
    height: 350px;
    cursor: pointer;
}

img:hover,
img:focus{
    transition: .2s ease-in-out ;
    border-color: var(--color-image-hover) ;
}

.desaturate {
    filter: grayscale(100%);
    transform: scale(0.85);
    transition: .2s ease-in-out;
}

/* vote numbers */

.left-container-haselhov, 
.right-container-habera {
    position: relative;
    display: inline-block; /* zajistí, aby se číslo nepřetékalo do dalšího řádku */
}

.score-one, 
.score-two {
    position: absolute;
    top: 300px; /* nastavte vertikální polohu */
    left: 50%; /* nastavte horizontální polohu */
    transform: translateX(-50%);
    color: rgb(253, 36, 235); /* barva textu */
    font-size: 100px;
    font-family: Gill Sans MT, Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold; 
    -webkit-text-stroke: 3px rgb(243, 243, 243);
}

/* responzive */

@media screen and (max-width: 1250px){
    
    .choices{
        display: flex;
        justify-content: center;
        margin-left: -4%;
    }

    h1{
        margin-left: -50px;
    }
   
}

@media screen and (max-width: 850px){
    
    .choices{
        display: flex;
        justify-content: center;
        padding: 30px;
    }

    h1{
        margin-left: -50px;
        margin-bottom: -20px;
        text-indent: -260px;
    }

    .font-left{
        font-size: 38px;
    }
   
}

@media screen and (max-width: 795px){

    .choices{
        display: flex;
        justify-content: center;
        padding: 30px;
        margin-left: -3%;
    }

    h1{
        margin-left: -40px;
        margin-bottom: -15px;
        text-indent: -220px;
        font-size: 24px;
    }

    .font-left{
        font-size: 34px;
    }

img{
    width: 250px;
    height: 300px;
}

.score-one, 
.score-two {
    top: 255px; 
    left: 50%; 
    font-size: 90px;
}
 }

 @media screen and (max-width: 620px){

    body{
        overflow-y: auto;
        height: 820px;
        background: linear-gradient(
    130deg,
    var(--color-for-body-one) 20%, 
    var(--color-for-body-two ) ,
    var(--color-for-body-one ) ,
    var(--color-for-body-two ) ,
    var(--color-for-body-one ) 90%
    );
    }

    .choices{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        margin-left: -3%;
        flex-direction: column;
    }
    
    h1, .font-left{
        display: none;
    }

    h2{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 30px 0 10px 0;
        font-family: Fantasy,OCR A Std, monospace	;
        font-weight: bolder;
        letter-spacing: 3px;
        font-size: 35px;
        color: var(--color-font-title);
        text-shadow: 1.7px 1.7px 1px white;
    }

    
img{
    width: 250px;
    height: 300px;
}

.score-one, 
.score-two {
    top: 255px; 
    left: 50%; 
    font-size: 90px;
}
 }

 @media screen and (max-width: 514px){
    body{
        height: 870px;
    }
 }

 h2{
    margin-bottom: -5px;
 }

    /* tato hodnota dody width sa zmeni podla nastaveni */
 @media screen and (max-width: 400px){

    h2{
        margin:20px auto 10px -30px;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
        font-size: 50px;
        font-weight: bold;
        color: var(--color-font-title);
        text-shadow: 1.7px 1.7px 1px white;
    }

    body{
        height: 844px;
            background: linear-gradient(
    180deg,
    var(--color-for-body-one) , 
    var(--color-for-body-two ) ,
    var(--color-for-body-one ) ,
    var(--color-for-body-two ) ,
    var(--color-for-body-one ) 
    );
    }

   .content-container{
    display: flex;
    flex-direction: column;
    margin-left: 160px;
   }

 }
 